<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/mainStyles.css}" rel="stylesheet" / >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
<div class="landingPage">
    <div class="leftSide">
        <img src="./landingPhoto.png">
    </div>
    <div class="menu">
        <h1 class="caption">BarberShop</h1>
        <p class="address">г. Мозырь, ул. Притыцкого, д.30А.</p>
        <p class="time">Ежедневно 10:00-21:00</p>
        <p class="services">Наши услуги</p>
        <div class="links">
            <div><a> <img src="./haircut.png"> </a>
                <p class="signature">Стрижка головы</p></div>
            <div><a> <img src="./beards.png"> </a>
                <p class="signature">Стрижка бороды</p></div>
            <div><a> <img src="./complex.png"> </a>
                <p class="signature">Комплексные услуги</p></div>
        </div>
        <div class="ss"><a class="enrollBtn">Записаться</a></div>
    </div>
</div>
</body>
</html>