<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BarberShop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link th:href="@{/styles/mainStyles.css}" rel="stylesheet"/>
</head>
<body>
<div class="landingPage">
    <div class="leftSide">
        <img src="./Безымянный.png" alt="img">
    </div>

    <div class="menu">
        <h1 class="caption">BarberShop</h1>
        <p class="address">г. Мозырь, ул. Притыцкого, д.30А.</p>
        <p class="time">Ежедневно 10:00-21:00</p>
        <p class="services">Наши услуги</p>
        <div class="links">
            <div class="service"><a> <img src="./haircut.png"> </a>
                <p class="signature">Стрижка головы</p></div>
            <div class="service"><a> <img src="./beards.png"> </a>
                <p class="signature">Стрижка бороды</p></div>
            <div class="service"><a> <img src="./complex.png"> </a>
                <p class="signature">Комплексные услуги</p></div>
        </div>
        <a class="enrollBtn cursor">Записаться</a>
    </div>
</div>

<div class="priseList cursor">
    <table class="priseTable">
        <img class="tableLogo" src="./logo.png">
        <img class="line" src="./lines/hairCutPriseLine.png">
        <tr class="row" th:each="el:${hair}">
            <td class="nameCol" th:text="${el.name}"></td>
            <td class="priseCol" th:text="${el.cost}"></td>
        </tr>
    </table>
    <table class="priseTable">
        <img class="line" src="./lines/beardCutPriseLine.png">
        <tr class="row" th:each="el:${beard}">
            <td class="nameCol" th:text="${el.name}"></td>
            <td class="priseCol" th:text="${el.cost}"></td>
        </tr>
    </table>
    <table class="priseTable">
        <img class="line" src="./lines/complexLine.png">
        <tr class="row" th:each="el:${complex}">
            <td class="nameCol" th:text="${el.name}"></td>
            <td class="priseCol" th:text="${el.cost}"></td>
        </tr>
    </table>
</div>

<p class="teamCaption">Наша команда</p>

<div class="team">
    <div class="container" th:each="el:${people}">
        <div class="photo">
            <img src="./people/Alex.png">
        </div>
        <div class="text">
            <p class="name" th:text="${el.name}"></p>
            <p class="motto" th:text="${el.motto}"></p>
            <p class="description" th:text="${el.description}"></p>
        </div>
        <div class="buttons cursor">
            <a class="buttons__button enroll">Записаться</a>
            <a class="buttons__button feedbacks">Отзывы</a>
            <a class="buttons__button works">Работы</a>
        </div>
    </div>
</div>

</body>
</html>