body {
    margin: 0;
    font-family: Roboto Slab;
    font-size: 20px;
    color: #ffffff;
}

.landingPage {
    background: #000000;
    height: 700px;
    display: flex;
}

.leftSide {
    height: 700px;
    width: 983px;
    margin-left: auto;
}

.menu {
    background: radial-gradient(at top left, #131313, #000000);
    height: 420px;
    width: 41.8em;
    border-radius: 30px;
    margin: 140px auto 140px 115px;
    position: absolute;
}

.caption {
    text-align: center;
    font-family: Kaushan Script;
    color: #F8E6DF;
    margin: 6px auto 0px;
}

.address {
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

.time {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}

.services {
    font-weight: 400;
    text-align: center;
    margin: 16px;
}

.links {
    display: flex;
    justify-content: space-around;
    margin: 0px auto 0px 30px;
    text-align: center;
    font-size: 14px;
}

.enrollBtn {
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid #F8E6DF;
}

.signature {
    margin-top: 0;
    margin-bottom: 35px;
}

.btn {
    text-align: center;
}

.priseList{
    background: #000000;
    margin: 3.125em auto;
    width: 1170px;
}

.priseTable{
    margin: 0 auto;
    border: none;
}

.row:hover{
    background: #BFBFBF40;
}

.tableLogo{
    margin: 1.25em auto;
}
